<li class="p-5 transition-spacing duration-100 ease-in-out {{if this.isExpanded "-mx-6 my-6 shadow-lg" "shadow hover:shadow-lg"}}" {{on "click" this.toggleExpansion}}>
  {{#if this.isExpanded}}
    <h5 class="mb-4">{{@book.title}}</h5>
    <div class="flex">
      <img src="{{@book.coverUrl}}" class="w-1/4 shadow mr-4" />
      <div>{{@book.summary}}</div>
    </div>
  {{else}}
    <div class="flex">
      <img src="{{@book.coverUrl}}" class="h-12 shadow mr-4" />
      <h5>
        {{@book.title}}
      </h5>
    </div>
  {{/if}}
</li>